Repository theahmadzai/theahmadzai.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

Use theme ui
  .stylelintignore
  .stylelintrc.json
  gatsby-config.js
  netlify.toml
  package-lock.json
  package.json
  src/components/Layout.module.css
  src/components/layout.js
  src/components/theme-changer.js
  src/gatsby-plugin-theme-ui/index.js
  src/pages/index.js
Due: npm run lint, npm run format

Update
  src/components/header.js
  src/components/layout.js
  src/components/navbar.js
  src/components/theme-changer.js
  src/pages/blog.js
  src/pages/contact.js
Due: npm run lint, npm run format

Update
  gatsby-config.js
  package-lock.json
  package.json
  src/components/header.js
  src/components/layout.js
  src/gatsby-plugin-theme-ui/index.js
  src/images/profile.png
  src/pages/index.js
Due: npm run lint, npm run format

Add info about me
  src/components/header.js
  src/components/navbar.js
  src/components/svg/github.js
  src/components/svg/index.js
  src/components/svg/linkedin.js
  src/components/svg/twitter.js
  src/components/theme-changer.js
  src/gatsby-plugin-theme-ui/index.js
  src/pages/index.js
Due: npm run lint, npm run format

Add sound for theme changer
  gatsby-browser.js
  src/components/theme-changer.js
  static/beep.mp3
Due: npm run lint, npm run format

Add form
  src/pages/contact.js
  src/pages/index.js
Due: npm run lint, npm run format

Add hover effect
  src/pages/index.js
Due: npm run lint, npm run format

Update
  .nvmrc
  gatsby-config.js
  gatsby-ssr.js
  package-lock.json
  package.json
  src/components/layout.js
  src/components/page-head.js
  src/components/theme-changer.js
  src/gatsby-plugin-theme-ui/index.js
  src/pages/404.js
  src/pages/blog.js
  src/pages/index.js
  src/theme.js
  static/icon.png
Due: npm run lint, npm run format

Update
  package-lock.json
  package.json
  src/components/navbar.js
  src/images/profile.png
  src/pages/404.js
  src/pages/blog.js
  src/pages/contact.js
  src/pages/index.js
Due: npm run lint, npm run format

Update
  .editorconfig
  package-lock.json
  package.json
  src/components/header.js
  src/components/layout.js
  src/pages/contact.js
  src/pages/index.js
Due: npm run lint, npm run format

Update location
  .husky/pre-commit
  .husky/pre-push
  package-lock.json
  package.json
  src/pages/index.js
Due: npm run lint, npm run format

Create CNAME
  CNAME
Due: none

Delete CNAME
  CNAME
Due: none

update
  src/content/experience.ts
  src/content/profile.ts
Due: none

update
  package-lock.json
  package.json
  public/legacy-beep.mp3
  public/legacy-icon.png
  public/resume.pdf
  scripts/assets/VT323-Regular.ttf
  scripts/generate-resume.ts
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/components/education.tsx
  src/components/experience.tsx
  src/components/hero.tsx
  src/components/mobile-nav.tsx
  src/components/nav.tsx
  src/components/projects.tsx
  src/components/svg/section-icons.tsx
  src/content/profile.ts
  src/content/projects.ts
Due: npm run format

update
  scripts/generate-resume.ts
  src/components/linked-text.tsx
  src/components/projects.tsx
  src/content/projects.ts
Due: none

update
  README.md
Due: npm run format

Path conditions:
  npm run lint: any of: *.js
  npm run format: any of: *.{js,css,json,md}
